/**
 * @file index.css
 * @description 样式表
 * @author xiao li
 * @copyright 黎<https://www.xiaoli.vip>
 * @createDate 2023-01-09 12:20
 */
* {
    margin: 0;
    padding: 0;

    /* 去除文字被选中蓝色背景 */
    -moz-user-select: none; /*火狐*/
    -webkit-user-select: none; /*webkit浏览器*/
    -ms-user-select: none; /*IE10*/
    user-select: none;
}

a:hover,
a:visited,
a:link,
a:active {
    color: inherit;
}

html {
    width: 100%;
    height: auto;
    overflow: hidden;
}

body {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url("../img/bg.png") center no-repeat;
    background-size: cover;
    overflow: hidden;
}

.github {
    position: absolute;
    bottom: 16%;
    right: 8%;
    z-index: 99999;
    display: flex;
    align-items: center;
    padding: 2px 8px 2px 4px;
    background: #ffffff90;
    /*backdrop-filter: blur(12px);*/
    border-radius: 2px;
    box-shadow: inset 0 0 8px 1px #f4f4f480;
    font-size: 14px;
    text-decoration: none;
    transition: all .24s linear;
}

.github:hover {
    box-shadow: inset 0 0 8px 1px #ffffff, 1px 1px 6px .5px #00000060;
}

.github img {
    width: 18px;
    height: 18px;
    margin-right: 6px;
}

.stats {
    position: fixed;
    bottom: 8px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stats > p {
    margin: 0 4px;
    padding: 4px 8px;
    font-size: 14px;
    color: #363439;
    font-weight: 600;
    background: #ffffff9a;
    border-radius: 2px;
    box-shadow: inset 0 0 8px 1px #f4f4f480;

}

.stats > p > span {
    padding-left: 4px;
}

@media only screen and (max-width: 768px) {
    body {
        background: url("../img/bg-mobile.png") center no-repeat;
        background-size: cover;
    }

    .github {
        position: absolute;
        bottom: 40px;
        right: 24px;
    }

    .stats > p {
        font-size: 12px;
    }
}
